@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    background-color: var(--light);
    font-family: "Poppins", sans-serif;
}

:root {
    --light: #F7F7F7;
    --dark: #373737;
    --primary-color: #5E2BFF;
    --secondary-color: #fff;
}

body {
    width: 1200px;
    margin: 0 auto;
}

.mt-2 {
    margin-top: 2rem;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.logo {
    max-width: 12rem;
}

.nav__links {
    list-style: none;
}

.nav__links__item {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links__item__link {
    font-weight: 300;
    font-size: 18px;
    color: var(--dark);
    text-decoration: none;
}

.nav__links__item__link:hover {
    text-decoration: underline;
}

.intro {
    font-size: 20px;
    color: var(--dark);
    text-align: center;
    margin: 6rem 0;
}

.intro__description {
    font-weight: 200;
    line-height: 1.2;
    margin-left: 10rem;
    margin-right: 10rem;
}

.highlight {
    color: var(--primary-color)
}


