.section__projects {
    margin-top: 2.75rem;
    padding-top: 4.25rem;
}

.hero__image {
    max-width: 100%;
    margin: 40px 0px;
}

.notes {
    color: #636363;
    font-weight: 400;
    font-size: 15px;
    margin-top: 12px;
    max-width: 600px;
}

.divider {
    border-top: 1px solid var(--dark);
    opacity: 20%;
    border-radius: 5px;
    margin: 40px 0px;
}

.execution__image {
    max-width: 60%;
}

.centered__div__40 {
    width: 40%;
}

.centered__div__60{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.centered__div__70{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.centered__div__80{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.box__info {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    gap: 20px;
    margin-bottom: 20px;
    flex-basis: 100%;
    background-color: var(--tertiary-color);
    max-width: 590px;
}

.paragraph__container {
    width: 100%; 
}

.vertical__centered__image {
    min-height: 100%;
    display: flex;
    align-items: center;
}

.photo__70 {
    max-width: 500px;
    height: auto;
    width: 70%;
    min-width: 100px;
    height: auto;

}

.photo__coffee {
    max-width: 15%;
}

.photo__illustration {
    max-width: 500px;
    height: auto;
    width: 100%;
    min-width: 100px;
    height: auto;
}

.photo__panda {
    border-radius: 6px;
}

.section__chip {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: var(--tertiary-color);
    border-radius: 22px;
    display: inline-flex;
    font-weight: 400;
    float: none;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

.section__chip__date {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: var(--tertiary-color);
    border-radius: 4px;
    display: inline-flex;
    font-weight: 400;
    float: none;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

.paragraph__title__project {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 20px;
}

.photo__examples__heroimage {
    max-width: 100%;
    margin: 20px 0px;
}

.section__thankyou {
    margin-top: 2rem;
    padding-top: 3rem;
}

.text__chip__section {
    font-weight: 500;
    font-size: 14px;
    color: var(--dark);
    margin: 0px;
}

.paragraph__title__project__right {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 20px;
}

@media (max-width: 880px) {
    .hero__image {
        margin-top: 12px;
    }

    .section__projects {
        margin-top: 1.75rem;
        padding-top: 2.25rem;
    }

    .photo__examples__heroimage {
        margin-top: 12px;
    }

    .photo__panda {
        margin-top: 10px;
    }

    .paragraph__title__project__right {
        margin-top: 46px;
    }

    .centered__div__80 {
        display: block;
        margin-right: auto;
        width: 100%;
    }

    .centered__div__70 {
        display: block;
        margin-right: auto;
        width: 100%;
    }

    .centered__div__60 {
        display: block;
        margin-right: auto;
        width: 100%;
    }

    .centered__div__40 {
        display: block;
        margin-right: auto;
        width: 60%;
    }

    .photo__illustration {
        width: 40%;
    }

    .box__info {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {

    .hero__image {
        margin-top: 4px;
    }

    .photo__illustration {
        width: 60%;
    }

    .photo__panda {
        margin-top: 4px;
    }

    .paragraph__title__project__right {
        margin-top: 30px;
    }

    .paragraph__title__project {
        font-size: 18px;
    }

    .box__info {
        padding: 16px;
    }

}

